<!DOCTYPE html>
<html>
<head>
    <partial name="_Head" />
</head>
<body>
    <partial name="_Navbar" />

    <div class="container-fluid">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <partial name="_Footer" />
    <partial name="_Scripts" />

    @RenderSection("Scripts", required: false)
</body>
</html>
