@{
    ViewData["Title"] = "Painel Administrativo 1.0";
}

<h2 class="display-4">Bem-vindo</h2>

<p>Aprenda sobre <a href="https://raphaelcardoso.com.br/criando-aplicacao-web-com-aspnet-core-mvc-parte-1/" target="_blank">a criação de aplicativos da Web com o ASP.NET Core</a>.</p>